// Global colors
$colors: (
  'main-color': #f9a11e,
  'second-color': #eb7e53,
  'body-color': #fcf9ff,
  'danger': #fd8a8a,
  'success': #18dbb4,
  'dark-body': #353535,
  'dark': #828282,
  'dark-muted': #acacac,
  'light': #ffffff,
  'info': #98d3fa,
);

// Global border radius
$main-border-radius: 20px;

// Global box shadow
$btn-box-shadow: -1px 20px 15px 1px rgb(142 142 142 / 8%);
$card-box-shadow: -1px 20px 15px 1px rgb(142 142 142 / 8%);

// Global font weights
$font-weights: (
  'regular': 400,
  'bold': 600,
);

// Global font sizes
$font-sizes: (
  'small': 12px,
  'medium': 15px,
  'large': 20px,
);

// Screens
// Mobile screens
$min-screen: 320px;
$max-screen: 490px;
// Small desktop
$min-screen-desktop: 980px;
$max-screen-desktop: 1240px;
