@use '../../../../assets/style/helpers' as *;
@use '../../../../assets/style/components' as *;

.header-section {
  margin-right: calc(100vw - (100vw - 1.5rem));
}

.navbar {
  width: calc(100vw - (20rem + 2rem));
  box-shadow: $card-box-shadow;
  border-radius: $main-border-radius;
  height: 7vh;
  left: auto;
  right: auto;
  background: color(light);
}

@include mobile($min-screen, $max-screen) {
  h5 {
    display: none;
  }
  #user-card {
    display: none;
  }
  .navbar {
    background: transparent;
    box-shadow: none;
  }
}

@include mobile($min-screen-desktop, $max-screen-desktop) {
  h3 {
    display: none;
  }
}
