@use '../helpers' as *;

// Error message alert
.error-alert {
  background: color(danger) !important;
  color: color(light) !important;
  border-radius: $main-border-radius;
  width: auto;
  text-align: center;
  &.active {
    display: none;
  }
}

// successful message
.done-alert {
  background: color(success);
  color: color(light);
  border-radius: $main-border-radius;
  width: auto;
  text-align: center;
}
