@use '../../helpers' as *;

// Main Title
.main-title {
  color: color(dark);
  &::before {
    content: '';
    border-left: 5px solid color(main-color);
    margin-right: 7px;
  }
}

// Table header title
.header-title {
  color: color(dark);
  &::before {
    content: '';
    border-left: 3px solid color(main-color);
    margin-right: 7px;
  }
}

// Go back link
.goback-link {
  color: color(dark);
  text-decoration: none;
  &:hover {
    color: color(main-color);
  }
}

// Put main application color into selected text
.selected-text {
  color: color(main-color);
}

// User Types
.user-admin-title {
  color: color(light);
  background: color(danger);
  border-radius: $main-border-radius;
}

// Muted text
.main-muted-text {
  color: color(dark-muted);
}
