@use '../../../../assets/style/helpers' as *;
@use '../../../../assets/style/components' as *;

.vertical-nav {
  background: color(light);
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  left: 1.5rem;
  bottom: auto;
  top: 2rem;
  border-radius: $main-border-radius;
  box-shadow: $card-box-shadow;
  transition: all 0.4s;
  overflow-y: scroll;
}

#sidebar.active {
  margin-left: -(17rem + 1.6rem);
}

#user-card-mobile {
  display: none;
}

.sub-menu {
  display: none;

  // Submenu items
  &#lieux.active {
    display: flex !important;
    flex-direction: column;
  }
  &#entite.active {
    display: flex !important;
    flex-direction: column;
  }
  &#proprietaire.active {
    display: flex !important;
    flex-direction: column;
  }
}

@include mobile($min-screen, $max-screen) {
  .vertical-nav {
    margin-left: -(17rem + 1.6rem);
  }
  #sidebar.active {
    margin-left: 0;
  }
  img {
    display: none;
  }
  #user-card-mobile {
    display: block;
  }
}
