<div class="row title">
  <div class="col-lg-12 mt-3">
    <div class="w-100 d-flex justify-content-center">
      <div *ngIf="!serverConnected" class="error-alert p-2 my-2">
        {{ errorMessage }}
      </div>
    </div>

    <div class="d-lg-flex justify-content-lg-between">
      <h3 class="main-title">Tableau de bord</h3>
      <div>
        <a
          class="text-dark ms-5"
          data-bs-toggle="tooltip"
          data-bs-placement="top"
          title="Ici vous pouvez consulter le tableau de bord"
          ><i class="fal fa-info"></i
        ></a>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="row gap-2">
      <!-- <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <h3>
          <span  class="count-number">{{
            allCount.totalCountFournisseur
          }}</span>

          <span  class="count-label">
            Fournisseur<span *ngIf="allCount.totalCountFournisseur > 1">s</span>
          </span>

            <div
            *ngIf="!allCount.totalCountFournisseur"
            class="counts-skeleton"
          ></div> 
        </h3>
      </div> -->

      <!-- <div class="col-12 col-sm-12 col-lg-3 main-card bg-white p-4 count-card">
        <h3>
          <span class="count-number" *ngIf="allCount.countUser">
            {{ allCount.countUser }}
          </span>

          <span *ngIf="allCount.countUser" class="count-label">
            Utilisateur<span *ngIf="allCount.countUser > 1">s</span>
          </span>

          <div *ngIf="!allCount.countUser" class="counts-skeleton"></div>
        </h3>
      </div> -->

      <!-- <div class="col-lg-4 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <h3>
          <span class="count-number">{{
            allCount.totalCountDirecteurRegional
          }}</span>

          <span class="count-label">
            Directeur<span *ngIf="allCount.totalCountDirecteurRegional > 1"
              >s</span
            >
          </span>
        </h3>
      </div> -->
      <div class="col-lg-4 col-12 main-card bg-white p-4 count-card">
        <a [routerLink]="['/proprietaire/list-global/list']">
          <h3>
            <span class="count-number">
              {{ allCount.countProprietaire }}
            </span>

            <span class="count-label">
              Propriétaire<span *ngIf="allCount.countProprietaire > 1">s</span>
            </span>

            <!-- <div
              *ngIf="!allCount.countProprietaire"
              class="counts-skeleton"
            ></div> -->
          </h3>
        </a>
      </div>
      <div class="col-lg-4 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <h3>
          <span class="count-number">{{ allCount.countMandataire }}</span>

          <span class="count-label">
            Mandataire<span *ngIf="allCount.countMandataire > 1">s</span>
          </span>

          <!-- <div
            *ngIf="!allCount.countProprietaire"
            class="counts-skeleton"
          ></div> -->
        </h3>
      </div>

      <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <a [routerLink]="['/contrat/list-global/list']">
          <h3>
            <span class="count-number">
              {{ allCount.countContrat }}
            </span>

            <span class="count-label">
              Contrat<span *ngIf="allCount.countContrat > 1">s</span>
            </span>

            <!-- <div *ngIf="!allCount.countContrat" class="counts-skeleton"></div> -->
          </h3>
        </a>
      </div>
    </div>

    <div class="row gap-2 mt-3">
      <div class="col-lg-4 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <a [routerLink]="['/lieux/list']">
          <h3>
            <span class="count-number">
              {{ allCount.countLieu }}
            </span>

            <span class="count-label">
              Entité<span *ngIf="allCount.countLieu > 1">s</span>
              organisationnelle<span *ngIf="allCount.countLieu > 1">s</span>
            </span>

            <!-- <div *ngIf="!allCount.countLieu" class="counts-skeleton"></div> -->
          </h3>
        </a>
      </div>

      <div class="col-lg-4 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <a [routerLink]="['/foncier/list']">
          <h3>
            <span class="count-number">{{ allCount.countFoncier }}</span>

            <span *ngIf="allCount.countFoncier <= 1" class="count-label">
              Local
            </span>

            <span *ngIf="allCount.countFoncier > 1" class="count-label">
              Locaux
            </span>

            <!-- <div *ngIf="!allCount.countFoncier" class="counts-skeleton"></div> -->
          </h3>
        </a>
      </div>

      <div class="col-lg-3 col-sm-12 col-12 main-card bg-white p-4 count-card">
        <h3>
          <span class="count-number">
            {{ allCount.totalCountAmenagements }}
          </span>

          <span class="count-label">
            Aménagement<span *ngIf="allCount.totalCountAmenagements > 1"
              >s</span
            >
          </span>

          <!-- <div
            *ngIf="!allCount.totalCountAmenagements"
            class="counts-skeleton"
          ></div> -->
        </h3>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <h5 class="main-title mb-5">Quelques statistiques</h5>
    <div class="w-100 d-flex justify-content-center">
      <p *ngIf="!serverConnected" class="danger-txt my-2 mb-4">
        {{ errorMessage }}
      </p>
    </div>

    <div class="row text-center">
      <div class="col-12 col-lg-6 col-md-12 me-2 me-lg-5">
        <h6>
          {{ yAxisLabelBarV }}
        </h6>

        <ngx-charts-bar-vertical
          [results]="statisticsBarV"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [gradient]="gradient"
          [xAxis]="false"
          [yAxis]="false"
          [showXAxisLabel]="true"
          [showYAxisLabel]="true"
          [xAxisLabel]="xAxisLabel"
          [legendTitle]="villeTitle"
          [legendPosition]="legendPositionRight"
          [animations]="animations"
          [showGridLines]="showGridLines"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [showDataLabel]="true"
          [barPadding]="barPadding"
          [tooltipDisabled]="tooltipDisabled"
          [roundEdges]="roundEdges"
          [legend]="hasLegend"
        >
        </ngx-charts-bar-vertical>
      </div>
      <div class="col-12 col-lg-4 text-center left-border">
        <h6>
          {{ yAxisLabelAdvPie }}
        </h6>

        <ngx-charts-advanced-pie-chart
          [results]="statisticsAdvancedCircl"
          [scheme]="colorScheme"
          [animations]="animations"
        >
        </ngx-charts-advanced-pie-chart>
      </div>
    </div>
  </div>

  <div class="my-5">
    <div class="row text-center">
      <div class="col-12 col-lg-6 col-md-12">
        <h6>
          {{ yAxisLabelBarH }}
        </h6>

        <ngx-charts-bar-horizontal
          [results]="statisticsBarH"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [gradient]="gradient"
          [xAxis]="true"
          [yAxis]="yAxis"
          [showXAxisLabel]="false"
          [showYAxisLabel]="false"
          [xAxisLabel]="xAxisLabel"
          [legendTitle]="locauxTitle"
          [legendPosition]="legendPositionRight"
          [animations]="animations"
          [showGridLines]="true"
          [trimXAxisTicks]="trimXAxisTicks"
          [trimYAxisTicks]="trimYAxisTicks"
          [rotateXAxisTicks]="rotateXAxisTicks"
          [maxXAxisTickLength]="maxXAxisTickLength"
          [maxYAxisTickLength]="maxYAxisTickLength"
          [showDataLabel]="showDataLabel"
          [barPadding]="barPadding"
          [tooltipDisabled]="tooltipDisabled"
          [roundEdges]="roundEdges"
          [legend]="hasLegend"
        >
        </ngx-charts-bar-horizontal>
      </div>

      <div class="col-12 col-lg-5 col-md-12 left-border ms-lg-5">
        <h6>
          {{ yAxisLabelPie }}
        </h6>

        <ngx-charts-pie-chart
          [results]="statisticsCircle"
          [legendTitle]="contratTitle"
          [scheme]="colorScheme"
          [schemeType]="schemeType"
          [gradient]="gradient"
          [legendPosition]="legendPositionRight"
          [animations]="animations"
          [labels]="true"
          [explodeSlices]="explodeSlices"
          [tooltipDisabled]="tooltipDisabled"
          [legend]="hasLegend"
        >
        </ngx-charts-pie-chart>
      </div>
    </div>
  </div>

  <div class="mt-5">
    <div class="row w-100">
      <div class="col-12 col-lg-6">
        <h5 class="main-title">
          Dernières notifications
          <span>
            <a
              [routerLink]="['/notification']"
              class="main-txt short-link ms-1"
            >
              Voir plus
            </a>
          </span>
        </h5>
        <div class="col-12 col-lg-8 mt-4">
          <div *ngIf="!notifHasError">
            <div
              *ngFor="let notif of notifications"
              class="alert alert-dismissible fade show notif-section"
              role="alert"
            >
              <strong>{{ notif.message }}</strong>
              {{ notif.created_at | date: 'dd/MM/YYYY' }}
              <button
                type="button"
                class="btn-close main-txt"
                data-bs-dismiss="alert"
                aria-label="Close"
              ></button>
            </div>
          </div>

          <div *ngIf="notifHasError" class="counts-skeleton"></div>

          <h4 *ngIf="!notifications?.length" class="main-muted-text">
            Aucune notification à afficher.
          </h4>
        </div>
      </div>

      <div class="col-12 col-lg-6">
        <h5 class="main-title">Liens rapides</h5>
        <ng-container *ngIf="reporting">
          <div class="row mt-4">
            <div class="col-7">
              <a
                [routerLink]="['/contrat/list-global/list/list-reporting']"
                class="short-link quick-links"
              >
                <i class="far fa-file-chart-line"></i> Accéder à la liste des
                reportings des contrats
              </a>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-6">
              <a
                [routerLink]="['/foncier/list/list-reporting']"
                class="short-link quick-links"
              >
                <i class="far fa-file-chart-line"></i> Accéder à la liste des
                reportings locaux
              </a>
            </div>
          </div>

          <div class="row mt-2">
            <div class="col-12">
              <a
                [routerLink]="['/lieux/list/list-reporting']"
                class="short-link quick-links"
              >
                <i class="far fa-file-chart-line"></i> Accéder à la liste des
                reportings des entités organisationnelles
              </a>
            </div>
          </div>
        </ng-container>
        <!-- Quick links start -->
        <!-- List Contrat -->
        <div class="row mt-2">
          <div class="col-8">
            <a
              [routerLink]="['/contrat/list-global/list']"
              class="short-link quick-links"
            >
              <i class="fal fa-file-signature"></i> Accéder à la liste des
              contrats
            </a>
          </div>
        </div>
        <!-- List locaux -->
        <div class="row mt-2">
          <div class="col-8">
            <a [routerLink]="['/foncier/list']" class="short-link quick-links">
              <i class="fas fa-hotel"></i> Accéder à la liste des locaux
            </a>
          </div>
        </div>

        <!-- List Entites organisationnelles -->
        <div class="row mt-2">
          <div class="col-8">
            <a [routerLink]="['/lieux/list']" class="short-link quick-links">
              <i class="fal fa-building"></i> Accéder à la liste des entités
              organisationnelles
            </a>
          </div>
        </div>
        <!-- Quick link end  -->
        <!-- <coming-soon></coming-soon> -->
      </div>
    </div>
  </div>
</div>
